<%= form_with model: @participant, scope: :participant, local: true do |form| %>
        <p>
            <%= form.label:Name %>
            <%= form.text_field:name %>

        </p>
        <p>
            <%= form.label:Email %>
            <%= form.text_field:email %>
        </p>
         <p>
                <%= form.label :participanttype %><br>
                <%= form.radio_button :ptype, 'Interviewee', onClick: "res(1)"  %> Interviewee <br />
                <%= form.radio_button :ptype, 'Interviewer', onClick: "res(2)" %> Interviewer <br />
         </p>
         <p>
           <div id = "resume">
                      <p>
                          <%= form.label :resume %><br>
                          <%= form.file_field :resume %>
                      </p>
                      </div>
        <%= form.submit %>
            </p>
<% end %>
  <script>
  var ch = 1;
  var store;
    function res(x){
        if (ch == 1) {
            store = document.getElementById("resume").innerHTML;
            ch = 0;
        }
        if(x == 2) {
            document.getElementById("resume").innerHTML = " ";
        } else {
            document.getElementById("resume").innerHTML = store;
        }

    }
  </script>



